spring:
  application:
    name: payment-service

  datasource:
    url: jdbc:mysql://mysql:3306/retail_payment?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

  kafka:
    bootstrap-servers: kafka:9092

server:
  port: 8084

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

toss:
  api-url: https://api.tosspayments.com/v1/payments
  success-url: http://gateway-service:8080/payments/success
  fail-url: http://gateway-service:8080/payments/fail
