spring:
  profiles:
    active: local
  application:
    name: product-service

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always





