spring:
  profiles:
    active: local
  application:
    name: product-service
  servlet:
    multipart:
      max-request-size: 100MB
      max-file-size: 100MB

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
